# EditorConfig is awesome: https://EditorConfig.org

root = true

[*.{kt,kts}]
indent_size = 4
# Prevent Kotlin LSP / IntelliJ engine from collapsing imports into wildcards (*)
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999
ij_kotlin_packages_to_use_import_on_demand = unset
